@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(rgba(45, 105, 233, 0.397), rgba(45, 105, 233, 0.397)), url('../logos/fondo.png'); /* Ruta de tu imagen WebP de fondo */
    background-size: 100% 20%; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-position: top left; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed;
    background-attachment: scroll;
    color: white;
}

.header {
    padding: 20px;
    overflow: hidden;
}

#logo {
    float: left;
}

#logo img{
    width: 200px;
}

nav {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
}

nav a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav a:hover {
    background-color: #ddd;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.submenu a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.submenu a:hover {
    background-color: #ddd;
}

.dropdown:hover .submenu {
    display: block;
}

#search {
    float: right;
    margin-right: 30px;
}

#search a{
    padding: 10px 10px;
    position: relative;
    margin: 5px 5px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

#search a:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 2px;
    background-color: white;
}

#search img{
    width: 30px;
    vertical-align: middle;
}

/* modal */

#modalInicioSesion {
    color: #1D3A6C;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(240, 240, 240);
    padding: 20px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


#modalInicioSesion label {
    display: block;
    margin-bottom: 10px;
    width: 300px;
}

#btnacceder {
    display: block;
    margin-top: 15px; /* Ajusta el margen según tus necesidades */
}

#bncerrar {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 10px; /* Ajusta la distancia desde la parte derecha según tus necesidades */
    padding: 5px 10px;
    border-radius: 50%; /* Hace que el botón sea redondo */
    background-color: #1D3A6C; /* Puedes cambiar el color de fondo según tus necesidades */
    color: #fff; /* Puedes cambiar el color del texto según tus necesidades */
    border: none;
    cursor: pointer;
}

/* Estilos para oscurecer el fondo detrás de la ventana modal */
#fondoOscuro {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.671);
    z-index: 1;
}


main {
    text-align: center; 
}

.portada {
    padding: 50px; /* Añade un relleno para mejorar el espacio alrededor del contenido */
    margin-top: 20px;
}

.portada h1 {
    font-family: 'Nunito', sans-serif ;
    font-size: 26px; /* Ajusta el tamaño de la fuente */
    margin-bottom: 30px; /* Añade un espacio en la parte inferior del título para mejorar la apariencia */
}

.portada p {
    font-size: 16px; /* Ajusta el tamaño de la fuente del párrafo según tus preferencias */
    margin-left: 450px;
    margin-right: 450px;
}

/* novedades*/
.titulo_novedades{
    background-color: white;
    background-attachment: scroll;
    margin-top: 400px;
    text-align: left;
    margin-left: 300px;
    
}

.contenedor_novedades {
    background-color: white;
    background-attachment: scroll;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: space-around;
    gap: 20px;
}

h2 {
    color: #1D3A6C;
    font-size: 26px;
    margin-bottom: 50px;
}

.columna1{
    grid-row: 1/3;

}

.columna1 img {
    width: 600px;
}

.columna2 img, .columna3 img, .columna4 img, .columna5 img {
    width: 300px;
}

.cuadro-azul {
    background-color: #1D3A6C;
    border-radius: 3px;
    padding: -2px;
    margin-top: 20px;
}

.cuadro-azul h3 {
    color: white;
}

.texto-azul {
    color: #1D3A6C;
}

.linea-azul {
    border-top: 2px solid #1D3A6C;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .contenedor_novedades {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
    }

    .columna2, .columna3, .columna4, .columna5 {
        grid-row: auto; /* Restaura el comportamiento normal de las columnas */
    }
}

/* sección Aliados */

.imagen-aliado {
    width: 100px; /* Tamaño inicial */
    transition: transform 0.3s; /* Transición suave al aumentar de tamaño */
}

.imagen-aliado:hover {
    transform: scale(1.8); /* Aumenta el tamaño al pasar el ratón por encima */
}

/* Estilos para el bloque "Aliados" */
.aliados {
    text-align: center;
    margin-top: 100px;
}

.aliados h2 {
    color: #1D3A6C;
    font-size: 26px;
}

.aliados p {
    color: #1D3A6C;
    font-size: 16px;
    margin-bottom: 80px;
}

/* Estilos para el contenedor de imágenes de aliados */
.imagenes-aliados {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    justify-content: center; /* Centra horizontalmente las imágenes */
    margin: 0 400px;
}


/* formulario registro */

.registro {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    color: #1D3A6C;
}

.registro h2{
    float: right;
}
.imagen-operadora {
    width: 100px;
    margin-bottom: 20px;
    margin-left: 15%;
}

.imagen-operadora img {
    width: 500px; /* Ajusta el tamaño según sea necesario */
}

.formulario-registro {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-registro form {
    display: grid;
    gap: 10px;
}

.formulario-registro label {
    font-weight: bold;
    display: flex;
    align-items: center;
}


.formulario-registro input {
    font-size: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.formulario-registro button {
    background-color: #1D3A6C;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.registro {
    text-align: center;
    padding: 20px;
}

.formulario-registro {
    max-width: 600px;
    margin: 0 auto;
}

/* Aplicar opacidad al botón cuando los checkboxes no están marcados */
#btn-registro:disabled {
    opacity: 0.6; /* Puedes ajustar el valor según tus preferencias */
    cursor: not-allowed;
}

.boton-desactivado {
    opacity: 0.5; /* o el valor que desees para la opacidad cuando esté desactivado */
    cursor: not-allowed; /* Cambia el cursor para indicar que el botón no es interactivo */
}

/* pie de pagina */

footer {
    background-color: #1D3A6C;
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    font-size: 12px;
}

.columna, .logo {
    text-align: left;
}

.terminos {
    text-align: center;
}

.redes {
    text-align: right;
}

.copyright {
    text-align: right;
}

.logo img {
    width: 50px; /* Ajusta el tamaño del logo según sea necesario */
}

.redes img {
    width: 30px; /* Ajusta el tamaño del icono de Facebook según sea necesario */
}

.copyright {
    grid-column: 4/6;
}